0ad/                       
mapeditor.org/
alacritty/                  
matplotlib/
arduino-ide/                
mimeapps.list
Arduino IDE/               
mpv/
baloofileinformationrc      
nautilus/
btop/                       
neofetch/
calibre/                    
nextjs-nodejs/
Cat Rain/                  
nvim/
cava/                       
obsidian/
chromium/                   
okularpartrc
clipse/                     
okularrc
Code/                       
pavucontrol.ini
Code.broken/                
picom/
code-flags.conf          
polybar/
Color-Scripts/              
procps/
config/                     
Proton/
dconf/                      
pulse/
dolphinrc                   
qt5ct/
easyeffects/                
QtProject.conf
Electron/                   
quickshell/
eog/                        
ranger/
fastfetch/                  
rate-mirrors-bin/
fastfetch-theme-selector/   
rofi/
filetypesrc                 
session/
spotify/
flameshot/                  
starship.toml
fun.fish                    
sublime-text/
gedit/                      
systemd/
ghidra/                     
terminal_startup.sh
glow/                       
tiled/
go/                         
trashrc
google-chrome/              
user-dirs.dirs
gtk-3.0/                    
user-dirs.locale
gwenviewrc                  
VirtualBox/
htop/                       
vlc/
wal/
kde.org/                    
wireshark/
kiorc                       
wlogout/
wofi/
libresprite/                
xdg-desktop-portal/
libvirt/                    
yay/
light/                      
zathura
:LOCALAPPDATAnvim/      
zed/
